<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :age %><br>
    <%= f.number_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :dob, "DOB" %><br>
    <%= f.datetime_select :dob %>
  </div>
  <div class="form-group">
    <%= f.label :current_school, "Current School" %><br>
    <%= f.text_field :current_school, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :current_level, "Current Level" %><br>
    <%= f.text_field :current_level, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.text_field :country, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sat_score, "SAT Score" %><br>
    <%= f.number_field :sat_score, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mentor_id %><br>
    <%= f.select 'mentor_id', options_from_collection_for_select(Mentor.all, :id, :name),{}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= fields_for(@student_college) do |sc| %>
      <%= label_tag "college_id" %><br>
      <%= collection_select(:college, :id, @all_colleges, :id, :name, {}, {:multiple=> true}) %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
