<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :current_school %><br>
    <%= f.text_field :current_school %>
  </div>
  <div class="field">
    <%= f.label :current_level %><br>
    <%= f.text_field :current_level %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :sat_score %><br>
    <%= f.number_field :sat_score %>
  </div>
  <div class="colleges">
    <%= f.label :colleges %><br>
    <%= f.select "colleges", options_for_select(Student.all.collect{ |u| [u.name, u.id]}), :required => true %>
    <%= f.select :colleges, College.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>

    <%# select_tag 'colleges', options_for_select(@student.collect{ |u| [u.name, u.id] })%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
