<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @student.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Current School:</strong>
  <%= @student.current_school %>
</p>

<p>
  <strong>Current Level:</strong>
  <%= @student.current_level %>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>SAT Score:</strong>
  <%= @student.sat_score %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @student.mentor.name %>
</p>

<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-link"  %> |
<%= link_to 'Back', students_path, class: "btn btn-link"  %>
