<%= form_for(@mentor) do |f| %>
  <% if @mentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
      <% @mentor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :age %><br>
    <%= f.number_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :dob, "DOB" %><br>
    <%= f.datetime_select :dob %>
  </div>
  <div class="form-group">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.text_area :image, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
