<p id="notice"><%= notice %></p>

<h1>Listing Mentors</h1>
<div class="bordered-table">
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Age</th>
          <th>DOB</th>
          <th>Bio</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @mentors.each do |mentor| %>
              <tr>
                <td><%= mentor.id %></td>
                <td><%= mentor.name %></td>
                <td><%= mentor.age %></td>
                <td><%= mentor.dob %></td>
                <td><%= mentor.bio %></td>
                <td><%= mentor.image %></td>
                <td><%= link_to mentor, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                  <%= link_to edit_mentor_path(mentor), class: "btn btn-default" do%>
                  <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                  <%= link_to mentor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
      </tbody>
    </table>  
    <%= link_to new_mentor_path, class: "btn btn-default" do %>
      <i class=" glyphicon glyphicon-plus button-text"></i>New Mentor
    <% end %>
</div>
<br>

