<p id="notice"><%= notice %></p>

<h1>Searching Students base on College Name</h1>

<div class="filter">
    <%= form_tag homes_path, method: :get do %>
      <%# label_tag :university_name %>
      <%= text_field_tag :name %>
 
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>

<div class="bordered-table">
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>College Name</th>
          <th>SAT Score</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
              <tr>
                <td><%= student.id %></td>
                <td><%= student.name %></td>
                <td><%= student.name %></td>
                <td><%= student.sat_score %></td>
              </tr>
            <% end %>
      </tbody>
    </table>
</div>
<br>

