<p id="notice"><%= notice %></p>
<div class="container">
  <div class="filter">
    <%= form_tag colleges_path, method: :get do %>
      <%= label_tag :colleges %>
      <%= text_field_tag :colleges %>
 
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>

<h1>Listing Colleges</h1>
<div class="bordered-table">
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Country</th>
          <th>Sat min score</th>
          <th>Sat max score</th>
          <th>Tuition fees</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @colleges.each do |college| %>
              <tr>
                <td><%= college.id %></td>
                <td><%= college.name %></td>
                <td><%= college.country %></td>
                <td><%= college.sat_min_score %></td>
                <td><%= college.sat_max_score %></td>
                <td><%= college.tuition_fees %></td>
                <td><%= link_to college, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                <%= link_to edit_college_path(college), class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                <%= link_to college, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  <% end %></td>
              </tr>
            <% end %>
      </tbody>
    </table>
    <%= link_to new_college_path, class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-plus"></i>New College
    <% end %>
</div>
<br>
