<p id="notice"><%= notice %></p>

<h1>Scrapping data from <a href="http://colleges.usnews.rankingsandreviews.com/best-colleges/rankings/national-universities/data">here</a>.</h1>

<div class="bordered-table">
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Tuition fees</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @universities.each do |university| %>
              <tr>
                <td><%= university.id %></td>
                <td><%= university.name %></td>
                <td><%= university.tuition_fees %></td>
                <td><%= link_to university, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                <%= link_to edit_university_path(university), class: "btn btn-default" do%>
                  <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                <%= link_to university, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
                </td>
            <% end %>
      </tbody>
    </table>
</div>
<br>

